node-red/app/flows/custom_flows.json
[
    {
        "id": "5ecc2bfb.1fe2d4",
        "type": "tab",
        "label": "Azure IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8968f22c.a8e96",
        "type": "tab",
        "label": "Worldmap",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b9f36ed.94602a",
        "type": "tab",
        "label": "Buttons",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88da6893.ccc5c8",
        "type": "tab",
        "label": "Delete And Create",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6e63663.6abe78",
        "type": "tab",
        "label": "Raspberry info",
        "disabled": false,
        "info": ""
    },
    {
        "id": "823ba8a8.cba408",
        "type": "tab",
        "label": "blinking leds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "41b28a52.214654",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e900942d.0517a",
        "type": "subflow",
        "name": "Shutdown/Reboot",
        "info": "",
        "in": [
            {
                "x": 53,
                "y": 99,
                "wires": [
                    {
                        "id": "72c8dddc.55e6fc"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "4c8f5562.2081dc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#e40707",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#e40707",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#e40707",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#f93e3e",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#e40707",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f50e347d.e3041",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25f165a2.851f12",
        "type": "ui_group",
        "name": "Default",
        "tab": "f50e347d.e3041",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3b324938.562456",
        "type": "debug",
        "z": "5ecc2bfb.1fe2d4",
        "name": "Azure IoT Hub Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1223,
        "y": 177,
        "wires": []
    },
    {
        "id": "d25d0bac.bc1648",
        "type": "inject",
        "z": "5ecc2bfb.1fe2d4",
        "name": "Trigger telemetry",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "222c0397.643f0c"
            ]
        ]
    },
    {
        "id": "222c0397.643f0c",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "name": "telemetry",
        "func": "var timestamp = new Date(msg.payload);\nmsg = {\n    'topic': 'telemetry',\n    'payload': {'humidity': Math.round(10000*Math.random())/100,\n        'temperature': 20 + (Math.round(2500*Math.random())/100),\n        'pressure': 850 + (Math.round(35000*Math.random())/100),\n        'timestamp': timestamp.toString()\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "f66b3898.d49a68",
                "fc7a7305.0ae948",
                "2e2b56f3.e466fa"
            ]
        ]
    },
    {
        "id": "9973fed2.6ba9b",
        "type": "inject",
        "z": "5ecc2bfb.1fe2d4",
        "name": "Trigger reported properties",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "3a505702.e59f38"
            ]
        ]
    },
    {
        "id": "3a505702.e59f38",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "name": "properties",
        "func": "msg = {\n    'topic': 'property',\n    'payload': { 'fanSpeed': {'value':120},\n        'voltage': {'value':5},\n        'current': {'value':55},\n        'irSwitch': {'value':true}\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "fc7a7305.0ae948",
                "2e2b56f3.e466fa"
            ]
        ]
    },
    {
        "id": "91745865.1dcbf8",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "name": "command response",
        "func": "if (msg.topic == \"command\") {\n   var responseMsg = {\n       \"topic\": \"response\",\n       \"payload\": {\n            \"requestId\": msg.payload.requestId,\n            \"methodName\": msg.payload.methodName,\n            \"status\": 200,\n            \"payload\": msg.payload.payload\n       }\n   };\n   return responseMsg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 420,
        "wires": [
            [
                "fc7a7305.0ae948",
                "2e2b56f3.e466fa"
            ]
        ]
    },
    {
        "id": "f66b3898.d49a68",
        "type": "debug",
        "z": "5ecc2bfb.1fe2d4",
        "name": "telemetry azure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc7a7305.0ae948",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "d": true,
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 260,
        "wires": [
            [
                "3b324938.562456",
                "91745865.1dcbf8"
            ]
        ]
    },
    {
        "id": "a470514e.fe61",
        "type": "inject",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reconfig",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "e16a291c.c329b"
            ]
        ]
    },
    {
        "id": "e16a291c.c329b",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "name": "set to defaultDevice",
        "func": "msg.payload = {};\nmsg.payload.deviceid = 'defaultDevice';\nmsg.payload.connectiontype = 'constr';\nmsg.payload.iothub = 'euiotiofdev010.azure-devices.net';\nmsg.payload.authenticationmethod = 'sas';\nmsg.payload.saskey = 'IgKNAuzi66TxkUm/qoRZmaiKqNwisdTcFt0yTMXusgI=';\nmsg.payload.protocol = 'mqtt';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "f8824d7.27b263",
                "2e2b56f3.e466fa"
            ]
        ]
    },
    {
        "id": "f8824d7.27b263",
        "type": "debug",
        "z": "5ecc2bfb.1fe2d4",
        "name": "debug reconfig message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "3d049320.59bc64",
        "type": "inject",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reconfig",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "ba5cb33c.605cc8"
            ]
        ]
    },
    {
        "id": "ba5cb33c.605cc8",
        "type": "function",
        "z": "5ecc2bfb.1fe2d4",
        "name": "set to testDevice",
        "func": "msg.payload = {};\nmsg.payload.deviceid = 'testDevice';\nmsg.payload.connectiontype = 'constr';\nmsg.payload.iothub = 'euiotiofdev010.azure-devices.net';\nmsg.payload.authenticationmethod = 'sas';\nmsg.payload.saskey = 'mGRPOrv7Ouj7YS9gHHCo4f/y/J/USFWLqalGTGjerHY=';\nmsg.payload.protocol = 'mqtt';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "f8824d7.27b263",
                "2e2b56f3.e466fa"
            ]
        ]
    },
    {
        "id": "2e2b56f3.e466fa",
        "type": "link out",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "links": [
            "f595b52e.58661"
        ],
        "x": 695,
        "y": 220,
        "wires": []
    },
    {
        "id": "1a909fc3.ced24",
        "type": "link in",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "links": [
            "46343674.a7daa8"
        ],
        "x": 915,
        "y": 220,
        "wires": [
            [
                "91745865.1dcbf8",
                "3b324938.562456"
            ]
        ]
    },
    {
        "id": "f595b52e.58661",
        "type": "link in",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "links": [
            "2e2b56f3.e466fa"
        ],
        "x": 995,
        "y": 540,
        "wires": [
            [
                "b1eb0e37.04ede8"
            ]
        ]
    },
    {
        "id": "46343674.a7daa8",
        "type": "link out",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "links": [
            "1a909fc3.ced24"
        ],
        "x": 1295,
        "y": 540,
        "wires": []
    },
    {
        "id": "ae563f47.93c33",
        "type": "inject",
        "z": "5ecc2bfb.1fe2d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "PATH",
        "payloadType": "env",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "5312090d.d32a58"
            ]
        ]
    },
    {
        "id": "5312090d.d32a58",
        "type": "debug",
        "z": "5ecc2bfb.1fe2d4",
        "name": "env PORT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 660,
        "wires": []
    },
    {
        "id": "c393bbd0.39d3d",
        "type": "debug",
        "z": "88da6893.ccc5c8",
        "name": "worldmap ok ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5189fb70.de5cf4",
        "type": "inject",
        "z": "8968f22c.a8e96",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "7",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "510da140.6eb7c",
                "f9061edb.d0bad8"
            ]
        ]
    },
    {
        "id": "84975ffe.c78128",
        "type": "json",
        "z": "8968f22c.a8e96",
        "name": "convert",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "439d76d6.96e8d"
            ]
        ]
    },
    {
        "id": "6cda5488.8d792c",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "data split last location",
        "func": "// initialise the last_ele to 0 if it doesn't exist already\nvar lastEle = global.get('last_ele')||0;\n// store the value back\nglobal.set('sec_last_ele',lastEle);\n\nlastEle = msg.payload.properties.ele;\n// store the value back\nglobal.set('last_ele',lastEle);\n\nmsg.payload = \n{\n   name : (\"trackpoints\"),\n   time : msg.payload.properties.time,\n    lat : msg.payload.geometry.coordinates[1],\n    lon : msg.payload.geometry.coordinates[0],\n    ele : msg.payload.properties.ele,\n    layer: \"tracks\",\n    icon: \"fa-male\",\niconColor: \"blue\"\n\n};\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 300,
        "wires": [
            [
                "bee52f1f.bb3c38",
                "7ba4771f.c7e12"
            ]
        ]
    },
    {
        "id": "e8398bf9.36bf68",
        "type": "split",
        "z": "8968f22c.a8e96",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "aa77639d.a21fe",
                "2217e869.aa06e"
            ]
        ]
    },
    {
        "id": "351e44e9.7e846c",
        "type": "file in",
        "z": "8968f22c.a8e96",
        "name": "geojson",
        "filename": "/usr/src/app/assets/geojsons/track_points.geojson",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "84975ffe.c78128"
            ]
        ]
    },
    {
        "id": "439d76d6.96e8d",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "usefull data",
        "func": "msg.payload = msg.payload.features;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 340,
        "wires": [
            [
                "e8398bf9.36bf68"
            ]
        ]
    },
    {
        "id": "aa77639d.a21fe",
        "type": "delay",
        "z": "8968f22c.a8e96",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "6cda5488.8d792c",
                "4aed9acb.794d04"
            ]
        ]
    },
    {
        "id": "235cd1a6.4e82b6",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "name ele ",
        "func": "msg.payload.name = \"hoogte: \" + msg.payload.ele;\nmsg.payload.icon = \"fa-area-chart\";\nmsg.payload.layer = \"height control\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 200,
        "wires": [
            [
                "eaa9def8.9083e"
            ]
        ]
    },
    {
        "id": "a56b2acd.182b5",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "voor geojson",
        "links": [
            "787ebb09.f29a14",
            "a20626f0.81f028"
        ],
        "x": 135,
        "y": 200,
        "wires": [
            [
                "510da140.6eb7c",
                "f9061edb.d0bad8"
            ]
        ]
    },
    {
        "id": "acbac744.3b55f8",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "to worldmap ",
        "links": [
            "6b064b50.b14e44",
            "8c2d1b5f.6e11d8",
            "bee52f1f.bb3c38",
            "e4f52f5d.e59a6",
            "997e5dfe.a3327",
            "f010bef7.d37d3",
            "eaa9def8.9083e",
            "a1c684f1.02a99",
            "cf5dd2e3.f910d",
            "1712b03.fc380d",
            "67c33e0e.1b6c4",
            "3eee6168.58b216",
            "2f50fd12.d03432",
            "db826e57.fa201",
            "6f151275.94c99c",
            "c064f667.07cae8",
            "ceed2876.4ae358",
            "eeb3cdb8.aeefc",
            "1d5ea6cc.3da5b9",
            "7a7e9bf.6891a64"
        ],
        "x": 1095,
        "y": 40,
        "wires": [
            [
                "807ecf6e.99a58"
            ]
        ]
    },
    {
        "id": "bee52f1f.bb3c38",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "data split out",
        "links": [
            "26b4dc0e.743d14",
            "ab272e81.b124b",
            "81ca5061.e38cc",
            "c700e663.491888",
            "acbac744.3b55f8",
            "d5c570a3.897d1",
            "c9bee77d.4b3eb8",
            "226d7aed.204356",
            "e0d11a5.2b76be8"
        ],
        "x": 1075,
        "y": 260,
        "wires": []
    },
    {
        "id": "eaa9def8.9083e",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "name ele out",
        "links": [
            "81ca5061.e38cc",
            "acbac744.3b55f8",
            "f90f9041.a45da",
            "c9dc8a74.34d978",
            "c9bee77d.4b3eb8",
            "e0d11a5.2b76be8"
        ],
        "x": 935,
        "y": 200,
        "wires": []
    },
    {
        "id": "997e5dfe.a3327",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "track out",
        "links": [
            "acbac744.3b55f8",
            "17890ac9.d071a5",
            "1459d3d4.56f50c",
            "be730477.b2e49",
            "82e26cf4.e34df",
            "b3f4fbfb.20bdb"
        ],
        "x": 935,
        "y": 140,
        "wires": []
    },
    {
        "id": "ab272e81.b124b",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "track in",
        "links": [
            "bee52f1f.bb3c38",
            "787ebb09.f29a14",
            "a20626f0.81f028"
        ],
        "x": 735,
        "y": 140,
        "wires": [
            [
                "f5aff45a.d278a8"
            ]
        ]
    },
    {
        "id": "ee906eb.c77839",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "Worldmap in",
        "links": [
            "287fcf0.ca00d32",
            "67a56aa5.ca9a24",
            "f90cb1e8.d6d85",
            "86f64e6a.e06a9",
            "e4c214e2.d8edb8",
            "6b04ef9f.6a9c28",
            "260a64f7.f5ab8c",
            "a2725a2c.04df6",
            "1eba5d54.4dd03b",
            "8ac8b46e.5faaf8",
            "e06555ed.c9f4f8",
            "f0f9240b.5d74e8",
            "3ba1329d.9347ce"
        ],
        "x": 935,
        "y": 60,
        "wires": []
    },
    {
        "id": "2217e869.aa06e",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "split out",
        "links": [
            "f826f157.221ff",
            "3c2ab8f9.5587c8",
            "d6f871a6.34f96"
        ],
        "x": 675,
        "y": 380,
        "wires": []
    },
    {
        "id": "88d776e2.08d89",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "name ele in",
        "links": [
            "acdb99ce.0ce348"
        ],
        "x": 735,
        "y": 200,
        "wires": [
            [
                "235cd1a6.4e82b6"
            ]
        ]
    },
    {
        "id": "510da140.6eb7c",
        "type": "change",
        "z": "8968f22c.a8e96",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "aa77639d.a21fe"
            ]
        ]
    },
    {
        "id": "f9061edb.d0bad8",
        "type": "delay",
        "z": "8968f22c.a8e96",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "351e44e9.7e846c",
                "b1769e55.b17"
            ]
        ]
    },
    {
        "id": "4aed9acb.794d04",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "delay out ",
        "links": [
            "70592dac.fdcf34",
            "a0890297.85ed7"
        ],
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "dfdb7862.28d618",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "5e1d4d37.78efd4",
            "ed26e2f1.370c18"
        ],
        "x": 215,
        "y": 100,
        "wires": [
            [
                "510da140.6eb7c"
            ]
        ]
    },
    {
        "id": "304ef864.3f4ae",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "start-button function",
        "func": "\nmsg.payload = { command :\n{button :\n    {   name:\"start-button\",\n        icon: \"fa-star\", \n        position:\"bottomright\"\n    }  \n}\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "a1c684f1.02a99"
            ]
        ]
    },
    {
        "id": "fdec2631.3c05a8",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear-button function",
        "func": "\nmsg.payload = { command :\n{button :\n    {   name:\"clear-button\",\n        icon: \"fa-trash\", \n        position:\"bottomright\",\n       \n    }  \n}\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 140,
        "wires": [
            [
                "cf5dd2e3.f910d"
            ]
        ]
    },
    {
        "id": "a1c684f1.02a99",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "start-button function",
        "links": [
            "18f8de33.90d412",
            "acbac744.3b55f8",
            "caaaf5d0.937858",
            "8981ca03.9aec6"
        ],
        "x": 815,
        "y": 100,
        "wires": []
    },
    {
        "id": "cf5dd2e3.f910d",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "clear-button function out",
        "links": [
            "1aa85c.0dba67a5",
            "acbac744.3b55f8",
            "75d9eed3.cf141",
            "eee717a4.6e2ab8"
        ],
        "x": 815,
        "y": 140,
        "wires": []
    },
    {
        "id": "a6a191ac.6418d",
        "type": "switch",
        "z": "3b9f36ed.94602a",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "304ef864.3f4ae",
                "fdec2631.3c05a8"
            ]
        ]
    },
    {
        "id": "6b04ef9f.6a9c28",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 315,
        "y": 120,
        "wires": [
            [
                "a6a191ac.6418d"
            ]
        ]
    },
    {
        "id": "9cae800c.f090b",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "if start",
        "func": "if (msg.payload.action == \"button\") {\n\n    if (msg.payload.name == \"start-button\")\n    {\n     return msg;   \n    }\n    \n} \n\n    return null;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "f59e5263.465628",
                "28a377be.0908c8",
                "db4e1d13.ad4a7",
                "a63e7677.7a6748",
                "a2dc7682.e2be68"
            ]
        ]
    },
    {
        "id": "a20626f0.81f028",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "startclear out",
        "links": [
            "1cbb4a99.dd0f35",
            "ab272e81.b124b",
            "a56b2acd.182b5",
            "a84d4171.4b761",
            "56abec45.f43c4c"
        ],
        "x": 815,
        "y": 280,
        "wires": []
    },
    {
        "id": "608281f.db68e8",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "if clear",
        "func": "if (msg.payload.action == \"button\") {\n\n    if (msg.payload.name == \"clear-button\")\n    {\n       return msg;\n    }\n    \n} \n\n    return null;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "f8facdc3.45a0c8",
                "5f48da98.337a2c",
                "ed26e2f1.370c18",
                "f27af4ff.63d668"
            ]
        ]
    },
    {
        "id": "f8facdc3.45a0c8",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "delete height function",
        "func": "msg.payload = { command :\n\n    {  \n        clear:\"height control\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 400,
        "wires": [
            [
                "1712b03.fc380d"
            ]
        ]
    },
    {
        "id": "1712b03.fc380d",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "clear function out",
        "links": [
            "8b7f90f5.13def",
            "acbac744.3b55f8",
            "69cd03ab.eadb4c",
            "63b6823c.21a9e4"
        ],
        "x": 855,
        "y": 420,
        "wires": []
    },
    {
        "id": "260a64f7.f5ab8c",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if clear in",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 355,
        "y": 420,
        "wires": [
            [
                "608281f.db68e8"
            ]
        ]
    },
    {
        "id": "a2725a2c.04df6",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if start in",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 375,
        "y": 240,
        "wires": [
            [
                "9cae800c.f090b"
            ]
        ]
    },
    {
        "id": "f59e5263.465628",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear tracks function",
        "func": "msg.payload = { command :\n\n    {  \n        \n        clear:\"tracks\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "a20626f0.81f028"
            ]
        ]
    },
    {
        "id": "28a377be.0908c8",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear height function",
        "func": "msg.payload = { command :\n\n    {  \n        \n        clear:\"height control\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "67c33e0e.1b6c4"
            ]
        ]
    },
    {
        "id": "67c33e0e.1b6c4",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 815,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f48da98.337a2c",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "delete tracks",
        "func": "msg.payload = { command :\n\n    {  \n        clear:\"tracks\"\n    }  \n\n};  \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "1712b03.fc380d"
            ]
        ]
    },
    {
        "id": "ed26e2f1.370c18",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "dfdb7862.28d618",
            "e9a2e008.6e841",
            "8b4d27ac.c1744"
        ],
        "x": 495,
        "y": 460,
        "wires": []
    },
    {
        "id": "db4e1d13.ad4a7",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "if start out",
        "links": [
            "8b4d27ac.c1744",
            "ee0c8d4f.6f0e4"
        ],
        "x": 535,
        "y": 180,
        "wires": []
    },
    {
        "id": "764a8ace.50eb9c",
        "type": "switch",
        "z": "88da6893.ccc5c8",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "f8eb62.4eb8c4a",
                "124f1b4d.2f8e25"
            ]
        ]
    },
    {
        "id": "1eba5d54.4dd03b",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "switch in files",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 315,
        "y": 300,
        "wires": [
            [
                "764a8ace.50eb9c"
            ]
        ]
    },
    {
        "id": "f8eb62.4eb8c4a",
        "type": "file in",
        "z": "88da6893.ccc5c8",
        "name": "read markers",
        "filename": "/home/pi/temp_data/markers.json",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "aa67d945.7654e8"
            ]
        ]
    },
    {
        "id": "39ef3542.0f5d42",
        "type": "debug",
        "z": "88da6893.ccc5c8",
        "name": "markers file out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa67d945.7654e8",
        "type": "json",
        "z": "88da6893.ccc5c8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "39ef3542.0f5d42",
                "3eee6168.58b216"
            ]
        ]
    },
    {
        "id": "124f1b4d.2f8e25",
        "type": "file in",
        "z": "88da6893.ccc5c8",
        "name": "read tracks",
        "filename": "/home/pi/temp_data/tracks.json",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "aa67d945.7654e8"
            ]
        ]
    },
    {
        "id": "c7c60a1f.d236b8",
        "type": "file",
        "z": "88da6893.ccc5c8",
        "name": "delete markers",
        "filename": "/home/pi/temp_data/markers.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 580,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "213ce5f3.2b6612",
        "type": "file",
        "z": "88da6893.ccc5c8",
        "name": "delete tracks",
        "filename": "/home/pi/temp_data/tracks.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8b4d27ac.c1744",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "",
        "links": [
            "5e1d4d37.78efd4",
            "1dd05985.d5fa26",
            "ed26e2f1.370c18",
            "db4e1d13.ad4a7"
        ],
        "x": 435,
        "y": 420,
        "wires": [
            [
                "c7c60a1f.d236b8",
                "213ce5f3.2b6612"
            ]
        ]
    },
    {
        "id": "5f36a52b.b36a14",
        "type": "file",
        "z": "88da6893.ccc5c8",
        "name": "tracksfile",
        "filename": "/home/pi/temp_data/tracks.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 840,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "be730477.b2e49",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "",
        "links": [
            "519c0dbc.0c3324",
            "997e5dfe.a3327"
        ],
        "x": 735,
        "y": 380,
        "wires": [
            [
                "5f36a52b.b36a14"
            ]
        ]
    },
    {
        "id": "4d2d9321.361d64",
        "type": "file",
        "z": "88da6893.ccc5c8",
        "name": "markers_file",
        "filename": "/home/pi/temp_data/markers.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c9dc8a74.34d978",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "markersfile in",
        "links": [
            "eaa9def8.9083e",
            "519c0dbc.0c3324"
        ],
        "x": 735,
        "y": 440,
        "wires": [
            [
                "4d2d9321.361d64"
            ]
        ]
    },
    {
        "id": "eac8454b.926ef8",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "",
        "links": [
            "cc81b233.df4a9"
        ],
        "x": 1035,
        "y": 380,
        "wires": [
            [
                "32f6d661.31be2a"
            ]
        ]
    },
    {
        "id": "ea5b2042.5dc4d8",
        "type": "link in",
        "z": "88da6893.ccc5c8",
        "name": "",
        "links": [
            "a3630fd4.91ee8"
        ],
        "x": 1035,
        "y": 420,
        "wires": [
            [
                "66f27bc0.fe14d4"
            ]
        ]
    },
    {
        "id": "32f6d661.31be2a",
        "type": "debug",
        "z": "88da6893.ccc5c8",
        "name": "markersfile",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "66f27bc0.fe14d4",
        "type": "debug",
        "z": "88da6893.ccc5c8",
        "name": "trackfile",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e1eefd.897e41",
        "type": "debug",
        "z": "3b9f36ed.94602a",
        "name": "if true",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "ba031413.f27878",
        "type": "debug",
        "z": "3b9f36ed.94602a",
        "name": "clear-button",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "36157d66.0a51c2",
        "type": "debug",
        "z": "3b9f36ed.94602a",
        "name": "if clear",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "eee717a4.6e2ab8",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "clear-button.debug",
        "links": [
            "6b064b50.b14e44",
            "cf5dd2e3.f910d"
        ],
        "x": 1095,
        "y": 320,
        "wires": [
            [
                "ba031413.f27878"
            ]
        ]
    },
    {
        "id": "63b6823c.21a9e4",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if clear.debug",
        "links": [
            "f010bef7.d37d3",
            "1712b03.fc380d"
        ],
        "x": 1095,
        "y": 360,
        "wires": [
            [
                "36157d66.0a51c2"
            ]
        ]
    },
    {
        "id": "56abec45.f43c4c",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if true.debug",
        "links": [
            "787ebb09.f29a14",
            "a20626f0.81f028"
        ],
        "x": 1095,
        "y": 400,
        "wires": [
            [
                "3e1eefd.897e41"
            ]
        ]
    },
    {
        "id": "1290f737.f30141",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "worldmap ok ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "e06555ed.c9f4f8",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "worlmap ok.debug",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 1155,
        "y": 180,
        "wires": [
            [
                "1290f737.f30141"
            ]
        ]
    },
    {
        "id": "70592dac.fdcf34",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "4aed9acb.794d04"
        ],
        "x": 1155,
        "y": 220,
        "wires": [
            [
                "77d17680.97542"
            ]
        ]
    },
    {
        "id": "77d17680.97542",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "delay",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "3eee6168.58b216",
        "type": "link out",
        "z": "88da6893.ccc5c8",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 815,
        "y": 220,
        "wires": []
    },
    {
        "id": "660a577.c358e28",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "3dc370b.7d28c9",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "onder",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "3b02804d.5583f",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "boven",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "c3b8c7a6.353818",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "boven.debug",
        "links": [
            "acdb99ce.0ce348"
        ],
        "x": 1155,
        "y": 300,
        "wires": [
            [
                "3b02804d.5583f"
            ]
        ]
    },
    {
        "id": "e76404f6.a82a08",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "onder.debug",
        "links": [
            "b0a58407.1c1d18",
            "2f50fd12.d03432"
        ],
        "x": 1155,
        "y": 340,
        "wires": [
            [
                "3dc370b.7d28c9"
            ]
        ]
    },
    {
        "id": "d6f871a6.34f96",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "split.debug",
        "links": [
            "2217e869.aa06e"
        ],
        "x": 1155,
        "y": 380,
        "wires": [
            [
                "660a577.c358e28"
            ]
        ]
    },
    {
        "id": "793e100a.5f523",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "track",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1270,
        "y": 260,
        "wires": []
    },
    {
        "id": "b3f4fbfb.20bdb",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "track debug",
        "links": [
            "997e5dfe.a3327"
        ],
        "x": 1155,
        "y": 260,
        "wires": [
            [
                "793e100a.5f523"
            ]
        ]
    },
    {
        "id": "3e96901d.defa28",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "gps data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 420,
        "wires": []
    },
    {
        "id": "8df0fcf6.3278a",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "data split",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "226d7aed.204356",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "datasplit.debug",
        "links": [
            "bee52f1f.bb3c38"
        ],
        "x": 1155,
        "y": 460,
        "wires": [
            [
                "8df0fcf6.3278a"
            ]
        ]
    },
    {
        "id": "e0d11a5.2b76be8",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "gps data.debug",
        "links": [
            "bee52f1f.bb3c38",
            "eaa9def8.9083e"
        ],
        "x": 1155,
        "y": 420,
        "wires": [
            [
                "3e96901d.defa28"
            ]
        ]
    },
    {
        "id": "73058238.882924",
        "type": "debug",
        "z": "3b9f36ed.94602a",
        "name": "start-button",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "8981ca03.9aec6",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "start-button.debug",
        "links": [
            "8c2d1b5f.6e11d8",
            "a1c684f1.02a99"
        ],
        "x": 1095,
        "y": 440,
        "wires": [
            [
                "73058238.882924"
            ]
        ]
    },
    {
        "id": "72c8dddc.55e6fc",
        "type": "function",
        "z": "e900942d.0517a",
        "name": "Prepare confirmation",
        "func": "/* Given a payload containing \n * host: string containing host name or ip\n * user: user name to use to ssh into the host\n * description: optional string conatining description of host\n * reboot: optional true/false flag to indicate whether to reboot (true) or shutdown\n * defaults to shutdown\n * formats the data ready to be passed to notification node for OK/Cancel\n*/\nvar mode;       // mode for user display\nvar shMode;     // mode passed to shutdown\n\nif (msg.payload.reboot === true) {\n    mode = \"reboot\";\n    shMode = \"-r\";\n} else {\n    mode = \"shutdown\";\n    shMode = \"-h\";\n}\n// these will be passed through the notification node\nmsg.shMode = shMode;\nmsg.host = msg.payload.host;\nmsg.user = msg.payload.user;\n\nmsg.topic = \"Confirm \" + mode + \" \" + msg.payload.host;\nmsg.payload = msg.payload.description;    // may be undefined\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 227,
        "y": 107,
        "wires": [
            []
        ]
    },
    {
        "id": "b1be3261.f6fcc",
        "type": "switch",
        "z": "e900942d.0517a",
        "name": "Ignore Cancel",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 589,
        "y": 106,
        "wires": [
            [
                "b39fc6dc.00c308"
            ]
        ]
    },
    {
        "id": "b39fc6dc.00c308",
        "type": "change",
        "z": "e900942d.0517a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'ssh ' & user & '@' & host & \t\" 'sudo shutdown \" & shMode & \" now'\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 257,
        "y": 188,
        "wires": [
            [
                "32c5c1ac.78ac46"
            ]
        ]
    },
    {
        "id": "32c5c1ac.78ac46",
        "type": "exec",
        "z": "e900942d.0517a",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "20",
        "oldrc": false,
        "name": "Shutdown/Reboot",
        "x": 513,
        "y": 188.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7ba4771f.c7e12",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "above or below",
        "func": "var secLastEle = global.get('sec_last_ele')||0;\nvar currentEle = msg.payload.ele;\n\nif ((currentEle >= 180) && (secLastEle < 180))\n{\n   msg.payload.name = 'Overgangspunt > ' + currentEle;\n   msg.payload.icon = 'fa-level-up';\n   msg.payload.iconColor = 'red';\n   \n   return msg;\n}\n\nif ((currentEle <= 180) && (secLastEle > 180))\n{\n   msg.payload.name = 'Overgangspunt < ' + currentEle;\n   msg.payload.icon = 'fa-level-down';\n   msg.payload.iconColor = 'green';\n   \n   return msg;\n}\n\n    \n    \n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "2f50fd12.d03432"
            ]
        ]
    },
    {
        "id": "1c947b49.2f2f15",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "2f50fd12.d03432",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "above below out",
        "links": [
            "acbac744.3b55f8",
            "e76404f6.a82a08",
            "804aab00.59c0d"
        ],
        "x": 1055,
        "y": 420,
        "wires": []
    },
    {
        "id": "3930466e.764f1a",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 325.2221908569336,
        "y": 46.33333683013916,
        "wires": [
            [
                "fb64035a.08308"
            ],
            [],
            []
        ]
    },
    {
        "id": "ec898b7f.114ac",
        "type": "inject",
        "z": "c6e63663.6abe78",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 107.49996185302734,
        "y": 46.805556297302246,
        "wires": [
            [
                "3930466e.764f1a",
                "a46b3bbc.77c79"
            ]
        ]
    },
    {
        "id": "fb64035a.08308",
        "type": "function",
        "z": "c6e63663.6abe78",
        "name": "",
        "func": "str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 471.888858795166,
        "y": 33.00000190734863,
        "wires": [
            [
                "cec8f715.2b37d",
                "5ccec5c9.c19eac"
            ]
        ]
    },
    {
        "id": "eac320f3.7986",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 320.2222213745117,
        "y": 259.9999761581421,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b6f3f2c.656931",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Shutdown",
        "x": 329.49996185302734,
        "y": 316.6944227218628,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a46b3bbc.77c79",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "free | grep Mem | awk '{print $3/$2 * 100.0}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Free Memory",
        "x": 335.3333053588867,
        "y": 129.9999303817749,
        "wires": [
            [
                "2ac322fb.197ae6"
            ],
            [],
            []
        ]
    },
    {
        "id": "282a1f65.58b02",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Disk Usage",
        "x": 328.2221488952637,
        "y": 188.22217464447021,
        "wires": [
            [
                "a7fd228f.9ac8b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a7fd228f.9ac8b8",
        "type": "function",
        "z": "c6e63663.6abe78",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 475.99991607666016,
        "y": 174.88883209228516,
        "wires": [
            [
                "7bb6fa9a.2f6ad4"
            ]
        ]
    },
    {
        "id": "d2998045.7c85e8",
        "type": "inject",
        "z": "c6e63663.6abe78",
        "name": "",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 128.22214889526367,
        "y": 188.22217464447021,
        "wires": [
            [
                "282a1f65.58b02"
            ]
        ]
    },
    {
        "id": "8a8c309d.161ba",
        "type": "inject",
        "z": "c6e63663.6abe78",
        "name": "",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 124.24151611328125,
        "y": 375.5670118331909,
        "wires": [
            [
                "b7cb63aa.3e5d68"
            ]
        ]
    },
    {
        "id": "b7cb63aa.3e5d68",
        "type": "exec",
        "z": "c6e63663.6abe78",
        "command": "hostname",
        "addpay": false,
        "append": "-I",
        "useSpawn": "",
        "timer": "",
        "name": "Get Local IP",
        "x": 328.79706954956055,
        "y": 376.06702518463135,
        "wires": [
            [
                "7ffe2496.d2ab84"
            ],
            [],
            []
        ]
    },
    {
        "id": "c9522342.936218",
        "type": "inject",
        "z": "c6e63663.6abe78",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122.33330535888672,
        "y": 449.9999303817749,
        "wires": [
            [
                "7cbfa57d.5a244c",
                "f9aeb3f1.8f58d"
            ]
        ]
    },
    {
        "id": "ed8ed3f1.66168",
        "type": "function",
        "z": "823ba8a8.cba408",
        "name": "startBlink",
        "func": "//var BLINKDELAY = 750;\nclearInterval(global.get(\"blinker\"));\nvar BLINKDELAY = msg.payload;\n\nvar light = true;\n\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "b43ccd79.83ef1",
                "d64fe5f6.f8b7a8"
            ]
        ]
    },
    {
        "id": "c80bb6aa.0e6e78",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "standby",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "18848ecb.a939d9"
            ]
        ]
    },
    {
        "id": "cfc14d93.128498",
        "type": "function",
        "z": "823ba8a8.cba408",
        "name": "stopBlink",
        "func": "clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 686,
        "y": 332,
        "wires": [
            [
                "b43ccd79.83ef1",
                "d64fe5f6.f8b7a8"
            ]
        ]
    },
    {
        "id": "709abcc9.a5e204",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 237,
        "y": 333,
        "wires": [
            [
                "cfc14d93.128498"
            ]
        ]
    },
    {
        "id": "b43ccd79.83ef1",
        "type": "debug",
        "z": "823ba8a8.cba408",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "green",
        "targetType": "msg",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "d7b936d3.bd45f8",
        "type": "debug",
        "z": "823ba8a8.cba408",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "red",
        "targetType": "msg",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "e610bd64.b0b178",
        "type": "comment",
        "z": "823ba8a8.cba408",
        "name": "Green",
        "info": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "83c6d10a.de29f",
        "type": "comment",
        "z": "823ba8a8.cba408",
        "name": "Red",
        "info": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "dfb35e2b.08c038",
        "type": "function",
        "z": "823ba8a8.cba408",
        "name": "Replay Running",
        "func": "\nmsg.payload = 250;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "ed8ed3f1.66168"
            ]
        ]
    },
    {
        "id": "18848ecb.a939d9",
        "type": "function",
        "z": "823ba8a8.cba408",
        "name": "node-red running",
        "func": "clearInterval(global.get(\"blinker\"));\nmsg.payload = 1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "ed8ed3f1.66168"
            ]
        ]
    },
    {
        "id": "d73bf6cd.ca2048",
        "type": "file in",
        "z": "8968f22c.a8e96",
        "name": "rectangle",
        "filename": "/home/pi/geojsons/rectangle.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "63f379dd.4e6f38"
            ]
        ]
    },
    {
        "id": "231e23c0.e50c0c",
        "type": "file in",
        "z": "8968f22c.a8e96",
        "name": "polygon",
        "filename": "/home/pi/geojsons/polygon.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "63f379dd.4e6f38"
            ]
        ]
    },
    {
        "id": "63f379dd.4e6f38",
        "type": "json",
        "z": "8968f22c.a8e96",
        "name": "convert",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "b7158288.b1b7f8"
            ]
        ]
    },
    {
        "id": "b54542a.75285c",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ad0770d6.c4d34",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "0",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ee0c8d4f.6f0e4",
        "type": "link in",
        "z": "823ba8a8.cba408",
        "name": "",
        "links": [
            "db4e1d13.ad4a7"
        ],
        "x": 335,
        "y": 200,
        "wires": [
            [
                "dfb35e2b.08c038"
            ]
        ]
    },
    {
        "id": "d486cf7c.e31298",
        "type": "function",
        "z": "823ba8a8.cba408",
        "name": "done replay",
        "func": "\n\nif (msg.payload == 1)\n{\n   \n    msg.payload = 1000;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "ed8ed3f1.66168"
            ]
        ]
    },
    {
        "id": "8e2a5371.ee78d8",
        "type": "link in",
        "z": "823ba8a8.cba408",
        "name": "",
        "links": [
            "1f33d32e.05236d"
        ],
        "x": 335,
        "y": 140,
        "wires": [
            [
                "d486cf7c.e31298"
            ]
        ]
    },
    {
        "id": "f6e92c96.75685",
        "type": "trigger",
        "z": "8968f22c.a8e96",
        "name": "Watchdog",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "1f33d32e.05236d"
            ]
        ]
    },
    {
        "id": "a0890297.85ed7",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "4aed9acb.794d04"
        ],
        "x": 835,
        "y": 460,
        "wires": [
            [
                "f6e92c96.75685"
            ]
        ]
    },
    {
        "id": "1f33d32e.05236d",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "watchdog out",
        "links": [
            "8e2a5371.ee78d8"
        ],
        "x": 1055,
        "y": 460,
        "wires": []
    },
    {
        "id": "f6139501.3d17d",
        "type": "trigger",
        "z": "823ba8a8.cba408",
        "name": "1 sec on",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "750",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "f192b661.51024",
                "d7b936d3.bd45f8"
            ]
        ]
    },
    {
        "id": "ef43d639.cccb58",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "f6139501.3d17d"
            ]
        ]
    },
    {
        "id": "7a05f665.ba888",
        "type": "inject",
        "z": "823ba8a8.cba408",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 560,
        "wires": [
            [
                "f192b661.51024"
            ]
        ]
    },
    {
        "id": "804aab00.59c0d",
        "type": "link in",
        "z": "823ba8a8.cba408",
        "name": "",
        "links": [
            "2f50fd12.d03432"
        ],
        "x": 415,
        "y": 580,
        "wires": [
            [
                "f6139501.3d17d"
            ]
        ]
    },
    {
        "id": "d5437de6.acf408",
        "type": "inject",
        "z": "8968f22c.a8e96",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "d73bf6cd.ca2048"
            ]
        ]
    },
    {
        "id": "d6ce8010.75ddd8",
        "type": "inject",
        "z": "8968f22c.a8e96",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 700,
        "wires": [
            [
                "231e23c0.e50c0c"
            ]
        ]
    },
    {
        "id": "b7158288.b1b7f8",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "usefull data",
        "func": "msg.payload = msg.payload.features;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "2188c908.e8830e"
            ]
        ]
    },
    {
        "id": "2188c908.e8830e",
        "type": "split",
        "z": "8968f22c.a8e96",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 630,
        "y": 600,
        "wires": [
            [
                "1c947b49.2f2f15",
                "1f80f216.95f9ce"
            ]
        ]
    },
    {
        "id": "807ecf6e.99a58",
        "type": "worldmap",
        "z": "8968f22c.a8e96",
        "name": "",
        "lat": "50.51909",
        "lon": "5.195608",
        "zoom": "13",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "72b6ec04.f40334",
        "type": "worldmap in",
        "z": "88da6893.ccc5c8",
        "name": "",
        "path": "/worldmap",
        "events": "all",
        "x": 1080,
        "y": 1000,
        "wires": [
            [
                "c393bbd0.39d3d"
            ]
        ]
    },
    {
        "id": "d2d3a710.f9439",
        "type": "worldmap in",
        "z": "8968f22c.a8e96",
        "name": "",
        "path": "/worldmap",
        "events": "all",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "ee906eb.c77839"
            ]
        ]
    },
    {
        "id": "f5aff45a.d278a8",
        "type": "worldmap-tracks",
        "z": "8968f22c.a8e96",
        "name": "track",
        "depth": "100000",
        "layer": "combined",
        "x": 830,
        "y": 140,
        "wires": [
            [
                "997e5dfe.a3327"
            ]
        ]
    },
    {
        "id": "d64fe5f6.f8b7a8",
        "type": "rpi-gpio out",
        "z": "823ba8a8.cba408",
        "name": "",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "f192b661.51024",
        "type": "rpi-gpio out",
        "z": "823ba8a8.cba408",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "517a5c31.ac69ac",
        "type": "ui_button",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "eac320f3.7986"
            ]
        ]
    },
    {
        "id": "71939e7f.a85ca8",
        "type": "ui_button",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 317,
        "wires": [
            [
                "b6f3f2c.656931"
            ]
        ]
    },
    {
        "id": "7ffe2496.d2ab84",
        "type": "ui_text",
        "z": "c6e63663.6abe78",
        "group": "25f165a2.851f12",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "IP Address",
        "format": "{{value.substring(0, value.indexOf(\" \"))}}",
        "layout": "col-center",
        "x": 677,
        "y": 363,
        "wires": []
    },
    {
        "id": "cec8f715.2b37d",
        "type": "ui_gauge",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "60",
        "x": 683,
        "y": 33,
        "wires": []
    },
    {
        "id": "2ac322fb.197ae6",
        "type": "ui_gauge",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Memory usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 675,
        "y": 118,
        "wires": []
    },
    {
        "id": "7bb6fa9a.2f6ad4",
        "type": "ui_gauge",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Disk usage",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 666.4443550109863,
        "y": 174.88883781433105,
        "wires": []
    },
    {
        "id": "41fe2352.d534ac",
        "type": "ui_gauge",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU usage ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 675.3333053588867,
        "y": 469.9999303817749,
        "wires": []
    },
    {
        "id": "5ccec5c9.c19eac",
        "type": "ui_chart",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "CPU Temperature [C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 693.9999389648438,
        "y": 72.66667175292969,
        "wires": [
            []
        ]
    },
    {
        "id": "d0fbed4d.2de208",
        "type": "ui_chart",
        "z": "c6e63663.6abe78",
        "name": "",
        "group": "25f165a2.851f12",
        "order": 6,
        "width": "6",
        "height": "4",
        "label": "Seperate CPU's [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 705.3333053588867,
        "y": 429.9999303817749,
        "wires": [
            []
        ]
    },
    {
        "id": "faa9e052.c6d82",
        "type": "ui_toast",
        "z": "8968f22c.a8e96",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "topic": "",
        "name": "confirm",
        "x": 422,
        "y": 107,
        "wires": [
            []
        ]
    },
    {
        "id": "7cbfa57d.5a244c",
        "type": "cpu",
        "z": "c6e63663.6abe78",
        "name": "separete cpu's",
        "msgCore": true,
        "msgOverall": false,
        "msgArray": false,
        "msgTemp": false,
        "x": 325.3333053588867,
        "y": 429.9999303817749,
        "wires": [
            [
                "d0fbed4d.2de208"
            ]
        ]
    },
    {
        "id": "f9aeb3f1.8f58d",
        "type": "cpu",
        "z": "c6e63663.6abe78",
        "name": "overal cpu",
        "msgCore": false,
        "msgOverall": true,
        "msgArray": false,
        "msgTemp": false,
        "x": 315.3333053588867,
        "y": 469.9999303817749,
        "wires": [
            [
                "41fe2352.d534ac"
            ]
        ]
    },
    {
        "id": "b1eb0e37.04ede8",
        "type": "azureiotdevice",
        "z": "5ecc2bfb.1fe2d4",
        "deviceid": "",
        "pnpModelid": "",
        "connectiontype": "",
        "authenticationmethod": "",
        "iothub": "",
        "isIotcentral": false,
        "scopeid": "",
        "enrollmenttype": "",
        "saskey": "",
        "certname": "",
        "keyname": "",
        "protocol": "",
        "methods": [],
        "DPSpayload": "",
        "gatewayHostname": "",
        "caname": "",
        "cert": "",
        "key": "",
        "ca": "",
        "x": 1160,
        "y": 540,
        "wires": [
            [
                "46343674.a7daa8"
            ]
        ]
    },
    {
        "id": "b1769e55.b17",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "get active geojson layer ",
        "func": "var showRectangle = global.get(\"show-rectangle\");\nif (showRectangle)\n{\n    msg.payload = 1;\n    return msg;\n}\nmsg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "ae034104.a9a82",
                "a7a17015.53de9"
            ]
        ]
    },
    {
        "id": "ae034104.a9a82",
        "type": "switch",
        "z": "8968f22c.a8e96",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "60be75ea.aee30c",
                "e73a3253.2789c"
            ]
        ]
    },
    {
        "id": "60be75ea.aee30c",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "8230f623.e99988"
        ],
        "x": 535,
        "y": 400,
        "wires": []
    },
    {
        "id": "e73a3253.2789c",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "b73e0f2c.6b2e1"
        ],
        "x": 535,
        "y": 440,
        "wires": []
    },
    {
        "id": "8230f623.e99988",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "60be75ea.aee30c"
        ],
        "x": 95,
        "y": 580,
        "wires": [
            [
                "d73bf6cd.ca2048"
            ]
        ]
    },
    {
        "id": "b73e0f2c.6b2e1",
        "type": "link in",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "e73a3253.2789c"
        ],
        "x": 95,
        "y": 620,
        "wires": [
            [
                "231e23c0.e50c0c"
            ]
        ]
    },
    {
        "id": "a7a17015.53de9",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "1f80f216.95f9ce",
        "type": "function",
        "z": "8968f22c.a8e96",
        "name": "Boundary",
        "func": "var msg2 = \n{\n  \"payload\" : \n  {\n      \"name\" : \"geojson\",\n      \"layer\" : \"Boundary\",\n  } \n  \n};\n\nmsg2.payload.geojson = msg.payload;\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 560,
        "wires": [
            [
                "db826e57.fa201",
                "5395c6e0.4cd958"
            ]
        ]
    },
    {
        "id": "db826e57.fa201",
        "type": "link out",
        "z": "8968f22c.a8e96",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 915,
        "y": 540,
        "wires": []
    },
    {
        "id": "5395c6e0.4cd958",
        "type": "debug",
        "z": "8968f22c.a8e96",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 560,
        "wires": []
    },
    {
        "id": "a63e7677.7a6748",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "switch-button function",
        "func": "\nmsg.payload = { command :\n{button :\n    {   name:\"switch-button\",\n        icon: \"fa-exchange\", \n        position:\"bottomright\"\n    }  \n}\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "6f151275.94c99c"
            ]
        ]
    },
    {
        "id": "6f151275.94c99c",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 815,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2dc7682.e2be68",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear Boundary function",
        "func": "msg.payload = { command :\n\n    {  \n        \n        clear:\"Boundary\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "c064f667.07cae8"
            ]
        ]
    },
    {
        "id": "c064f667.07cae8",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 835,
        "y": 320,
        "wires": []
    },
    {
        "id": "f27af4ff.63d668",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear Boundary function",
        "func": "msg.payload = { command :\n\n    {  \n        \n        clear:\"Boundary\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "ceed2876.4ae358"
            ]
        ]
    },
    {
        "id": "ceed2876.4ae358",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 855,
        "y": 480,
        "wires": []
    },
    {
        "id": "f0f9240b.5d74e8",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if clear in",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 455,
        "y": 580,
        "wires": [
            [
                "6479d4f8.4bc66c"
            ]
        ]
    },
    {
        "id": "3ba1329d.9347ce",
        "type": "link in",
        "z": "3b9f36ed.94602a",
        "name": "if clear in",
        "links": [
            "ee906eb.c77839"
        ],
        "x": 455,
        "y": 640,
        "wires": [
            [
                "5253fee6.0af99"
            ]
        ]
    },
    {
        "id": "5253fee6.0af99",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "clear Boundary function",
        "func": "msg.payload = { command :\n\n    {  \n        \n        clear:\"Boundary\"\n    }  \n\n};  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 640,
        "wires": [
            [
                "eeb3cdb8.aeefc"
            ]
        ]
    },
    {
        "id": "eeb3cdb8.aeefc",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 775,
        "y": 640,
        "wires": []
    },
    {
        "id": "6479d4f8.4bc66c",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "if switch geojson",
        "func": "if (msg.payload.action == \"button\") {\n\n    if (msg.payload.name == \"switch-button\")\n    {\n     return msg;   \n    }\n    \n} \n\n    return null;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 580,
        "wires": [
            [
                "f9d7f635.233cd8"
            ]
        ]
    },
    {
        "id": "f9d7f635.233cd8",
        "type": "function",
        "z": "3b9f36ed.94602a",
        "name": "toggle show rectangle",
        "func": "\nvar showRectangle = global.get(\"show-rectangle\");\nif(showRectangle === true)\n{\n    global.set(\"show-rectangle\", false);\n}\nelse \n{\n global.set(\"show-rectangle\", true);   \n}\n/*\nde kortste oplossing\nglobal.set(\"show-rectangle\", !showRectangle);\n*/\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "1d5ea6cc.3da5b9"
            ]
        ]
    },
    {
        "id": "1d5ea6cc.3da5b9",
        "type": "link out",
        "z": "3b9f36ed.94602a",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 935,
        "y": 580,
        "wires": []
    },
    {
        "id": "2c2e89f1.a24e66",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2b17f7e.87e2b",
        "type": "turfjs",
        "z": "41b28a52.214654",
        "name": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "7a7e9bf.6891a64",
                "2c2e89f1.a24e66"
            ],
            [
                "b8572431.f40088"
            ]
        ]
    },
    {
        "id": "7fb92f02.cd94b",
        "type": "function",
        "z": "41b28a52.214654",
        "name": "turf test",
        "func": "/*msg.payload.name = \"turf\";\nmsg.payload.layer = \"turfly\";\n*/\nmsg.topic = \"polygon\";\nmsg.payload = [[[[125, -15], [113, -22], [154, -27], [144, -15], [125, -15]]],{ name: 'poly1' }];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "d2b17f7e.87e2b"
            ]
        ]
    },
    {
        "id": "a726b614.b63b28",
        "type": "inject",
        "z": "41b28a52.214654",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "7fb92f02.cd94b"
            ]
        ]
    },
    {
        "id": "7a7e9bf.6891a64",
        "type": "link out",
        "z": "41b28a52.214654",
        "name": "",
        "links": [
            "acbac744.3b55f8"
        ],
        "x": 1055,
        "y": 140,
        "wires": []
    },
    {
        "id": "b8572431.f40088",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs err",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "c64653a4.1205f",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs out 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "f275ebab.0db248",
        "type": "turfjs",
        "z": "41b28a52.214654",
        "name": "turf area",
        "x": 940,
        "y": 340,
        "wires": [
            [
                "c64653a4.1205f"
            ],
            [
                "e6699f70.6a359"
            ]
        ]
    },
    {
        "id": "37b32607.c9552a",
        "type": "function",
        "z": "41b28a52.214654",
        "name": "turf-topic-polygon",
        "func": "/*msg.payload.name = \"turf\";\nmsg.payload.layer = \"turfly\";\n*/\nmsg.topic = \"polygon\";\nmsg.payload = [[[[125, -15], [113, -22], [154, -27], [144, -15], [125, -15]]]/*,{ name: 'poly1' }*/];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "84534a6a.7703f8"
            ]
        ]
    },
    {
        "id": "49d64b18.d7f264",
        "type": "inject",
        "z": "41b28a52.214654",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "37b32607.c9552a"
            ]
        ]
    },
    {
        "id": "e6699f70.6a359",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs err 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1140,
        "y": 400,
        "wires": []
    },
    {
        "id": "84534a6a.7703f8",
        "type": "turfjs",
        "z": "41b28a52.214654",
        "name": "turf polygon",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "b2983372.9959e",
                "769faeb1.846c"
            ],
            [
                "286f2849.d42f08"
            ]
        ]
    },
    {
        "id": "286f2849.d42f08",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs err 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "b2983372.9959e",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs out 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "769faeb1.846c",
        "type": "function",
        "z": "41b28a52.214654",
        "name": "turf topic area",
        "func": "msg.topic = \"area\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 340,
        "wires": [
            [
                "f275ebab.0db248",
                "c1a6e3f6.d97b"
            ]
        ]
    },
    {
        "id": "c1a6e3f6.d97b",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "topic area debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "3f10bfd9.7c4f2",
        "type": "file in",
        "z": "41b28a52.214654",
        "name": "rectangle",
        "filename": "/home/pi/geojsons/rectangle.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "c05d4b84.9b2238"
            ]
        ]
    },
    {
        "id": "3b0e8d74.ae3bb2",
        "type": "turfjs",
        "z": "41b28a52.214654",
        "name": "turf area",
        "x": 640,
        "y": 560,
        "wires": [
            [
                "10005d2e.b88b93"
            ],
            [
                "d2fd99f4.13bab8"
            ]
        ]
    },
    {
        "id": "10005d2e.b88b93",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs out 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "d2fd99f4.13bab8",
        "type": "debug",
        "z": "41b28a52.214654",
        "name": "turfjs err 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "2e5a8413.6f6dec",
        "type": "inject",
        "z": "41b28a52.214654",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "3f10bfd9.7c4f2"
            ]
        ]
    },
    {
        "id": "c05d4b84.9b2238",
        "type": "function",
        "z": "41b28a52.214654",
        "name": "",
        "func": "\nmsg.topic = \"area\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "3b0e8d74.ae3bb2"
            ]
        ]
    }
]