node-red/app/flows/custom_flows.json
[{"id":"5f49ccfb.5051f4","type":"tab","label":"Worldmap","disabled":false,"info":""},{"id":"8435029a.6b248","type":"tab","label":"Buttons","disabled":false,"info":""},{"id":"a16228f2.845668","type":"tab","label":"Delete And Create","disabled":false,"info":""},{"id":"7168b33e.1ed0bc","type":"tab","label":"Raspberry info","disabled":false,"info":""},{"id":"2fbd4576.3fbc1a","type":"tab","label":"blinking leds","disabled":false,"info":""},{"id":"57780ad4.64b434","type":"subflow","name":"Shutdown/Reboot","info":"","in":[{"x":53,"y":99,"wires":[{"id":"cc7b0681.275988"}]}],"out":[]},{"id":"ef66303f.a2fb4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#e40707","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#e40707","edited":true},"page-titlebar-backgroundColor":{"value":"#e40707","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#f93e3e","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#e40707","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3c16c7e8.dc74d8","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"65727175.53513","type":"ui_group","name":"System","tab":"be7654d7.397448","order":1,"disp":true,"width":"12","collapse":false},{"id":"3952ec5b.56f514","type":"ui_group","name":"OS","tab":"be7654d7.397448","order":5,"disp":true,"width":"6","collapse":false},{"id":"be7654d7.397448","type":"ui_tab","z":"7168b33e.1ed0bc","name":"Raspbery PI (Control Panel) ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"80c7bcf0.4e166","type":"worldmap in","z":"a16228f2.845668","name":"","path":"/worldmap","events":"all","x":1080,"y":1000,"wires":[["a19cbecc.48e1e"]]},{"id":"a19cbecc.48e1e","type":"debug","z":"a16228f2.845668","name":"worldmap ok ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":1000,"wires":[]},{"id":"e2338ba4.a75268","type":"inject","z":"5f49ccfb.5051f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":"7","topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["49815cd3.566bf4","7b4f666c.318a48"]]},{"id":"d2a45a06.72d938","type":"json","z":"5f49ccfb.5051f4","name":"convert","property":"payload","action":"","pretty":false,"x":280,"y":340,"wires":[["731b5c87.05d4d4"]]},{"id":"e635f00e.63843","type":"function","z":"5f49ccfb.5051f4","name":"data split last location","func":"// initialise the last_ele to 0 if it doesn't exist already\nvar lastEle = global.get('last_ele')||0;\n// store the value back\nglobal.set('sec_last_ele',lastEle);\n\nlastEle = msg.payload.properties.ele;\n// store the value back\nglobal.set('last_ele',lastEle);\n\nmsg.payload = \n{\n   name : (\"trackpoints\"),\n   time : msg.payload.properties.time,\n    lat : msg.payload.geometry.coordinates[1],\n    lon : msg.payload.geometry.coordinates[0],\n    ele : msg.payload.properties.ele,\n    layer: \"tracks\",\n    icon: \"fa-male\",\niconColor: \"blue\"\n\n};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":300,"wires":[["c73633be.dbf","7c578445.d0f02c"]]},{"id":"cf5973f7.c22da","type":"split","z":"5f49ccfb.5051f4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":340,"wires":[["e465cee8.cc73e","935ad161.0f46d"]]},{"id":"984770bf.a5085","type":"file in","z":"5f49ccfb.5051f4","name":"geojson","filename":"/usr/src/app/assets/geojsons/track_points.geojson","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":120,"y":340,"wires":[["d2a45a06.72d938"]]},{"id":"731b5c87.05d4d4","type":"function","z":"5f49ccfb.5051f4","name":"usefull data","func":"msg.payload = msg.payload.features;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["cf5973f7.c22da"]]},{"id":"ba054fe3.7c9dd","type":"worldmap","z":"5f49ccfb.5051f4","name":"","lat":"50.51909","lon":"5.195608","zoom":"13","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":1200,"y":40,"wires":[]},{"id":"1697262f.e8278a","type":"worldmap in","z":"5f49ccfb.5051f4","name":"","path":"/worldmap","events":"all","x":640,"y":460,"wires":[["fdc1d625.8b7c38"]]},{"id":"b319efc8.348ec","type":"worldmap-tracks","z":"5f49ccfb.5051f4","name":"track","depth":"100000","layer":"combined","x":830,"y":140,"wires":[["ea27a14c.7a267"]]},{"id":"e465cee8.cc73e","type":"delay","z":"5f49ccfb.5051f4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":300,"wires":[["e635f00e.63843","b92bf30a.fe478"]]},{"id":"8db06576.0ee6d8","type":"function","z":"5f49ccfb.5051f4","name":"name ele ","func":"msg.payload.name = \"hoogte: \" + msg.payload.ele;\nmsg.payload.icon = \"fa-area-chart\";\nmsg.payload.layer = \"height control\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":200,"wires":[["fde3590b.206c88"]]},{"id":"ded467a2.8d2968","type":"link in","z":"5f49ccfb.5051f4","name":"voor geojson","links":["787ebb09.f29a14","288c7b66.475804"],"x":135,"y":200,"wires":[["49815cd3.566bf4","7b4f666c.318a48"]]},{"id":"e07ab435.b2f848","type":"link in","z":"5f49ccfb.5051f4","name":"to worldmap ","links":["6b064b50.b14e44","8c2d1b5f.6e11d8","c73633be.dbf","e4f52f5d.e59a6","ea27a14c.7a267","f010bef7.d37d3","fde3590b.206c88","11b27fba.9e098","1b0e368f.016519","ba77d81d.4e7de8","9381ab69.947cf8","c30276be.e7b888","52a0b80.3bf8148"],"x":1095,"y":40,"wires":[["ba054fe3.7c9dd"]]},{"id":"c73633be.dbf","type":"link out","z":"5f49ccfb.5051f4","name":"data split out","links":["26b4dc0e.743d14","4663d589.4d72dc","81ca5061.e38cc","c700e663.491888","e07ab435.b2f848","d5c570a3.897d1","c9bee77d.4b3eb8","96b04a2c.a39438","e6a4c88a.8fa538"],"x":1075,"y":260,"wires":[]},{"id":"fde3590b.206c88","type":"link out","z":"5f49ccfb.5051f4","name":"name ele out","links":["81ca5061.e38cc","e07ab435.b2f848","f90f9041.a45da","ef415c49.a9bac","c9bee77d.4b3eb8","e6a4c88a.8fa538"],"x":935,"y":200,"wires":[]},{"id":"ea27a14c.7a267","type":"link out","z":"5f49ccfb.5051f4","name":"track out","links":["e07ab435.b2f848","17890ac9.d071a5","1459d3d4.56f50c","a33340c6.ae14","82e26cf4.e34df","434a23b4.e5662c"],"x":935,"y":140,"wires":[]},{"id":"4663d589.4d72dc","type":"link in","z":"5f49ccfb.5051f4","name":"track in","links":["c73633be.dbf","787ebb09.f29a14","288c7b66.475804"],"x":735,"y":140,"wires":[["b319efc8.348ec"]]},{"id":"fdc1d625.8b7c38","type":"link out","z":"5f49ccfb.5051f4","name":"Worldmap in","links":["287fcf0.ca00d32","67a56aa5.ca9a24","f90cb1e8.d6d85","86f64e6a.e06a9","e4c214e2.d8edb8","9ba8edd5.70013","54e7081b.2b3078","f47a1c4.9ec58e","d6953966.15f058","8ac8b46e.5faaf8","57bfacfb.7d6e44"],"x":755,"y":460,"wires":[]},{"id":"935ad161.0f46d","type":"link out","z":"5f49ccfb.5051f4","name":"split out","links":["f826f157.221ff","3c2ab8f9.5587c8","3fa137d4.1282e8"],"x":675,"y":380,"wires":[]},{"id":"3aa1062e.424b0a","type":"link in","z":"5f49ccfb.5051f4","name":"name ele in","links":["acdb99ce.0ce348"],"x":735,"y":200,"wires":[["8db06576.0ee6d8"]]},{"id":"49815cd3.566bf4","type":"change","z":"5f49ccfb.5051f4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["e465cee8.cc73e"]]},{"id":"7b4f666c.318a48","type":"delay","z":"5f49ccfb.5051f4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":220,"wires":[["984770bf.a5085"]]},{"id":"b92bf30a.fe478","type":"link out","z":"5f49ccfb.5051f4","name":"delay out ","links":["4450e1b9.d20d","32d0dd8d.051d92"],"x":860,"y":360,"wires":[]},{"id":"dff6ff65.2f157","type":"link in","z":"5f49ccfb.5051f4","name":"","links":["5e1d4d37.78efd4","83937891.e62628"],"x":215,"y":100,"wires":[["49815cd3.566bf4"]]},{"id":"80d79982.7c5e38","type":"function","z":"8435029a.6b248","name":"start-button function","func":"\nmsg.payload = { command :\n{button :\n    {   name:\"start-button\",\n        icon: \"fa-star\", \n        position:\"bottomright\"\n    }  \n}\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["11b27fba.9e098"]]},{"id":"4db25e9e.d30ee","type":"function","z":"8435029a.6b248","name":"clear-button function","func":"\nmsg.payload = { command :\n{button :\n    {   name:\"clear-button\",\n        icon: \"fa-trash\", \n        position:\"bottomright\",\n       \n    }  \n}\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["1b0e368f.016519"]]},{"id":"11b27fba.9e098","type":"link out","z":"8435029a.6b248","name":"start-button function","links":["18f8de33.90d412","e07ab435.b2f848","caaaf5d0.937858","f4d23521.cdde98"],"x":815,"y":260,"wires":[]},{"id":"1b0e368f.016519","type":"link out","z":"8435029a.6b248","name":"clear-button function out","links":["1aa85c.0dba67a5","e07ab435.b2f848","75d9eed3.cf141","3394d223.84e6be"],"x":815,"y":300,"wires":[]},{"id":"6a2336c1.d4d218","type":"switch","z":"8435029a.6b248","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":280,"wires":[["80d79982.7c5e38","4db25e9e.d30ee"]]},{"id":"9ba8edd5.70013","type":"link in","z":"8435029a.6b248","name":"","links":["fdc1d625.8b7c38"],"x":295,"y":280,"wires":[["6a2336c1.d4d218"]]},{"id":"bdac5910.b616a8","type":"function","z":"8435029a.6b248","name":"if start","func":"if (msg.payload.action == \"button\") {\n\n    if (msg.payload.name == \"start-button\")\n    {\n     return msg;   \n    }\n    \n} \n\n    return null;\n\n\n","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["b8e9ffc6.da0d9","9ffbb851.0b7f98","6cc41370.7615bc"]]},{"id":"288c7b66.475804","type":"link out","z":"8435029a.6b248","name":"startclear out","links":["1cbb4a99.dd0f35","4663d589.4d72dc","ded467a2.8d2968","a84d4171.4b761","a596e3dc.7af52"],"x":795,"y":460,"wires":[]},{"id":"57230f84.afabc","type":"function","z":"8435029a.6b248","name":"if clear","func":"if (msg.payload.action == \"button\") {\n\n    if (msg.payload.name == \"clear-button\")\n    {\n       return msg;\n    }\n    \n} \n\n    return null;\n\n\n","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["e3d0f739.1ba738","58a66aaa.6058a4","83937891.e62628"]]},{"id":"e3d0f739.1ba738","type":"function","z":"8435029a.6b248","name":"delete height function","func":"msg.payload = { command :\n\n    {  \n        clear:\"height control\"\n    }  \n\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":520,"wires":[["ba77d81d.4e7de8"]]},{"id":"ba77d81d.4e7de8","type":"link out","z":"8435029a.6b248","name":"clear function out","links":["8b7f90f5.13def","e07ab435.b2f848","69cd03ab.eadb4c","78125227.bdfd1c"],"x":855,"y":540,"wires":[]},{"id":"54e7081b.2b3078","type":"link in","z":"8435029a.6b248","name":"if clear in","links":["fdc1d625.8b7c38"],"x":375,"y":540,"wires":[["57230f84.afabc"]]},{"id":"f47a1c4.9ec58e","type":"link in","z":"8435029a.6b248","name":"if start in","links":["fdc1d625.8b7c38"],"x":355,"y":440,"wires":[["bdac5910.b616a8"]]},{"id":"b8e9ffc6.da0d9","type":"function","z":"8435029a.6b248","name":"clear tracks function","func":"msg.payload = { command :\n\n    {  \n        \n        clear:\"tracks\"\n    }  \n\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["288c7b66.475804"]]},{"id":"9ffbb851.0b7f98","type":"function","z":"8435029a.6b248","name":"clear height function","func":"msg.payload = { command :\n\n    {  \n        \n        clear:\"height control\"\n    }  \n\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["9381ab69.947cf8"]]},{"id":"9381ab69.947cf8","type":"link out","z":"8435029a.6b248","name":"","links":["e07ab435.b2f848"],"x":795,"y":420,"wires":[]},{"id":"58a66aaa.6058a4","type":"function","z":"8435029a.6b248","name":"delete tracks","func":"msg.payload = { command :\n\n    {  \n        clear:\"tracks\"\n    }  \n\n};  \n\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["ba77d81d.4e7de8"]]},{"id":"83937891.e62628","type":"link out","z":"8435029a.6b248","name":"","links":["dff6ff65.2f157","e9a2e008.6e841","d067db79.377718"],"x":495,"y":580,"wires":[]},{"id":"6cc41370.7615bc","type":"link out","z":"8435029a.6b248","name":"if start out","links":["d067db79.377718","c7d1ffd3.f3f8"],"x":520,"y":380,"wires":[]},{"id":"3afbc249.8e255e","type":"switch","z":"a16228f2.845668","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":300,"wires":[["3a11f3ad.c4eb0c","2bfd6de7.9565b2"]]},{"id":"d6953966.15f058","type":"link in","z":"a16228f2.845668","name":"switch in files","links":["fdc1d625.8b7c38"],"x":315,"y":300,"wires":[["3afbc249.8e255e"]]},{"id":"3a11f3ad.c4eb0c","type":"file in","z":"a16228f2.845668","name":"read markers","filename":"/home/pi/temp_data/markers.json","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":570,"y":320,"wires":[["d366afc5.454ff"]]},{"id":"bfb1fcf.f34b7","type":"debug","z":"a16228f2.845668","name":"markers file out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":300,"wires":[]},{"id":"d366afc5.454ff","type":"json","z":"a16228f2.845668","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":300,"wires":[["bfb1fcf.f34b7","c30276be.e7b888"]]},{"id":"2bfd6de7.9565b2","type":"file in","z":"a16228f2.845668","name":"read tracks","filename":"/home/pi/temp_data/tracks.json","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":570,"y":280,"wires":[["d366afc5.454ff"]]},{"id":"ac6441f8.83f9f","type":"file","z":"a16228f2.845668","name":"delete markers","filename":"/home/pi/temp_data/markers.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":580,"y":400,"wires":[[]]},{"id":"c08043be.19138","type":"file","z":"a16228f2.845668","name":"delete tracks","filename":"/home/pi/temp_data/tracks.json","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":570,"y":440,"wires":[[]]},{"id":"d067db79.377718","type":"link in","z":"a16228f2.845668","name":"","links":["5e1d4d37.78efd4","1dd05985.d5fa26","83937891.e62628","6cc41370.7615bc"],"x":435,"y":420,"wires":[["ac6441f8.83f9f","c08043be.19138"]]},{"id":"6a35a815.8a87e8","type":"file","z":"a16228f2.845668","name":"tracksfile","filename":"/home/pi/temp_data/tracks.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":840,"y":380,"wires":[[]]},{"id":"a33340c6.ae14","type":"link in","z":"a16228f2.845668","name":"","links":["519c0dbc.0c3324","ea27a14c.7a267"],"x":735,"y":380,"wires":[["6a35a815.8a87e8"]]},{"id":"68be0744.085868","type":"file","z":"a16228f2.845668","name":"markers_file","filename":"/home/pi/temp_data/markers.json","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":850,"y":440,"wires":[[]]},{"id":"ef415c49.a9bac","type":"link in","z":"a16228f2.845668","name":"markersfile in","links":["fde3590b.206c88","519c0dbc.0c3324"],"x":735,"y":440,"wires":[["68be0744.085868"]]},{"id":"dec93938.9e8538","type":"link in","z":"a16228f2.845668","name":"","links":["cc81b233.df4a9"],"x":1035,"y":380,"wires":[["d4217448.058188"]]},{"id":"2904e714.fcafe8","type":"link in","z":"a16228f2.845668","name":"","links":["a3630fd4.91ee8"],"x":1035,"y":420,"wires":[["34b5b593.ebfb0a"]]},{"id":"d4217448.058188","type":"debug","z":"a16228f2.845668","name":"markersfile","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":380,"wires":[]},{"id":"34b5b593.ebfb0a","type":"debug","z":"a16228f2.845668","name":"trackfile","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":420,"wires":[]},{"id":"1bf94807.9589e8","type":"debug","z":"8435029a.6b248","name":"if true","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":440,"wires":[]},{"id":"7ad54ceb.999954","type":"debug","z":"8435029a.6b248","name":"clear-button","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":360,"wires":[]},{"id":"581db273.0aee6c","type":"debug","z":"8435029a.6b248","name":"if clear","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":400,"wires":[]},{"id":"3394d223.84e6be","type":"link in","z":"8435029a.6b248","name":"clear-button.debug","links":["6b064b50.b14e44","1b0e368f.016519"],"x":875,"y":360,"wires":[["7ad54ceb.999954"]]},{"id":"78125227.bdfd1c","type":"link in","z":"8435029a.6b248","name":"if clear.debug","links":["f010bef7.d37d3","ba77d81d.4e7de8"],"x":875,"y":400,"wires":[["581db273.0aee6c"]]},{"id":"a596e3dc.7af52","type":"link in","z":"8435029a.6b248","name":"if true.debug","links":["787ebb09.f29a14","288c7b66.475804"],"x":875,"y":440,"wires":[["1bf94807.9589e8"]]},{"id":"cf642fcd.7458b","type":"debug","z":"5f49ccfb.5051f4","name":"worldmap ok ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":180,"wires":[]},{"id":"57bfacfb.7d6e44","type":"link in","z":"5f49ccfb.5051f4","name":"worlmap ok.debug","links":["fdc1d625.8b7c38"],"x":1155,"y":180,"wires":[["cf642fcd.7458b"]]},{"id":"4450e1b9.d20d","type":"link in","z":"5f49ccfb.5051f4","name":"","links":["b92bf30a.fe478"],"x":1155,"y":220,"wires":[["f06bc9c7.18aef8"]]},{"id":"f06bc9c7.18aef8","type":"debug","z":"5f49ccfb.5051f4","name":"delay","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":220,"wires":[]},{"id":"c30276be.e7b888","type":"link out","z":"a16228f2.845668","name":"","links":["e07ab435.b2f848"],"x":815,"y":220,"wires":[]},{"id":"694f3d04.f46044","type":"debug","z":"5f49ccfb.5051f4","name":"split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":380,"wires":[]},{"id":"81944fb6.4fb8d","type":"debug","z":"5f49ccfb.5051f4","name":"onder","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":340,"wires":[]},{"id":"4a2e8146.a0e0f","type":"debug","z":"5f49ccfb.5051f4","name":"boven","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":300,"wires":[]},{"id":"285555c8.b7a89a","type":"link in","z":"5f49ccfb.5051f4","name":"boven.debug","links":["acdb99ce.0ce348"],"x":1155,"y":300,"wires":[["4a2e8146.a0e0f"]]},{"id":"fe5d1b38.4f9ff8","type":"link in","z":"5f49ccfb.5051f4","name":"onder.debug","links":["b0a58407.1c1d18","52a0b80.3bf8148"],"x":1155,"y":340,"wires":[["81944fb6.4fb8d"]]},{"id":"3fa137d4.1282e8","type":"link in","z":"5f49ccfb.5051f4","name":"split.debug","links":["935ad161.0f46d"],"x":1155,"y":380,"wires":[["694f3d04.f46044"]]},{"id":"a6ff00ce.5f9aa","type":"debug","z":"5f49ccfb.5051f4","name":"track","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":260,"wires":[]},{"id":"434a23b4.e5662c","type":"link in","z":"5f49ccfb.5051f4","name":"track debug","links":["ea27a14c.7a267"],"x":1155,"y":260,"wires":[["a6ff00ce.5f9aa"]]},{"id":"b582de7c.8852e","type":"debug","z":"5f49ccfb.5051f4","name":"gps data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":420,"wires":[]},{"id":"352ff64c.842aea","type":"debug","z":"5f49ccfb.5051f4","name":"data split","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":460,"wires":[]},{"id":"96b04a2c.a39438","type":"link in","z":"5f49ccfb.5051f4","name":"datasplit.debug","links":["c73633be.dbf"],"x":1155,"y":460,"wires":[["352ff64c.842aea"]]},{"id":"e6a4c88a.8fa538","type":"link in","z":"5f49ccfb.5051f4","name":"gps data.debug","links":["c73633be.dbf","fde3590b.206c88"],"x":1155,"y":420,"wires":[["b582de7c.8852e"]]},{"id":"2fa59ea1.b66732","type":"debug","z":"8435029a.6b248","name":"start-button","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":480,"wires":[]},{"id":"f4d23521.cdde98","type":"link in","z":"8435029a.6b248","name":"start-button.debug","links":["8c2d1b5f.6e11d8","11b27fba.9e098"],"x":875,"y":480,"wires":[["2fa59ea1.b66732"]]},{"id":"7053dd4f.524f94","type":"ui_toast","z":"57780ad4.64b434","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"","name":"confirm","x":422,"y":107,"wires":[["f439e490.2e8908"]]},{"id":"cc7b0681.275988","type":"function","z":"57780ad4.64b434","name":"Prepare confirmation","func":"/* Given a payload containing \n * host: string containing host name or ip\n * user: user name to use to ssh into the host\n * description: optional string conatining description of host\n * reboot: optional true/false flag to indicate whether to reboot (true) or shutdown\n * defaults to shutdown\n * formats the data ready to be passed to notification node for OK/Cancel\n*/\nvar mode;       // mode for user display\nvar shMode;     // mode passed to shutdown\n\nif (msg.payload.reboot === true) {\n    mode = \"reboot\";\n    shMode = \"-r\";\n} else {\n    mode = \"shutdown\";\n    shMode = \"-h\";\n}\n// these will be passed through the notification node\nmsg.shMode = shMode;\nmsg.host = msg.payload.host;\nmsg.user = msg.payload.user;\n\nmsg.topic = \"Confirm \" + mode + \" \" + msg.payload.host;\nmsg.payload = msg.payload.description;    // may be undefined\nreturn msg;","outputs":1,"noerr":0,"x":227,"y":107,"wires":[["7053dd4f.524f94"]]},{"id":"f439e490.2e8908","type":"switch","z":"57780ad4.64b434","name":"Ignore Cancel","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","outputs":1,"x":589,"y":106,"wires":[["79db8a83.b90d84"]]},{"id":"79db8a83.b90d84","type":"change","z":"57780ad4.64b434","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'ssh ' & user & '@' & host & \t\" 'sudo shutdown \" & shMode & \" now'\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":257,"y":188,"wires":[["2ed03347.35673c"]]},{"id":"2ed03347.35673c","type":"exec","z":"57780ad4.64b434","command":"","addpay":true,"append":"","useSpawn":"false","timer":"20","oldrc":false,"name":"Shutdown/Reboot","x":513,"y":188.5,"wires":[[],[],[]]},{"id":"7c578445.d0f02c","type":"function","z":"5f49ccfb.5051f4","name":"above or below","func":"var secLastEle = global.get('sec_last_ele')||0;\nvar currentEle = msg.payload.ele;\n\nif ((currentEle >= 180) && (secLastEle < 180))\n{\n   msg.payload.name = 'Overgangspunt > ' + currentEle;\n   msg.payload.icon = 'fa-level-up';\n   msg.payload.iconColor = 'red';\n   \n   return msg;\n}\n\nif ((currentEle <= 180) && (secLastEle > 180))\n{\n   msg.payload.name = 'Overgangspunt < ' + currentEle;\n   msg.payload.icon = 'fa-level-down';\n   msg.payload.iconColor = 'green';\n   \n   return msg;\n}\n\n    \n    \n\nreturn null;","outputs":1,"noerr":0,"x":960,"y":460,"wires":[["52a0b80.3bf8148"]]},{"id":"f26fefe9.37b93","type":"debug","z":"5f49ccfb.5051f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":580,"wires":[]},{"id":"52a0b80.3bf8148","type":"link out","z":"5f49ccfb.5051f4","name":"above below out","links":["e07ab435.b2f848","fe5d1b38.4f9ff8","203968f.92ab998"],"x":1075,"y":460,"wires":[]},{"id":"7e1a9258.e9770c","type":"ui_gauge","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":683,"y":33,"wires":[]},{"id":"9cf9a0b9.8d129","type":"exec","z":"7168b33e.1ed0bc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":325.2221908569336,"y":46.33333683013916,"wires":[["e6b1ebae.33dd08"],[],[]]},{"id":"ad45149f.9f6938","type":"inject","z":"7168b33e.1ed0bc","name":"","repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":107.49996185302734,"y":46.805556297302246,"wires":[["9cf9a0b9.8d129","34183360.43f76c"]]},{"id":"e6b1ebae.33dd08","type":"function","z":"7168b33e.1ed0bc","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":471.888858795166,"y":33.00000190734863,"wires":[["7e1a9258.e9770c","5bf5618.884dda"]]},{"id":"f0484b77.88dab8","type":"ui_button","z":"7168b33e.1ed0bc","name":"","group":"3952ec5b.56f514","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":260,"wires":[["2598d267.9d5b1e"]]},{"id":"2598d267.9d5b1e","type":"exec","z":"7168b33e.1ed0bc","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":320.2222213745117,"y":259.9999761581421,"wires":[[],[],[]]},{"id":"22293df0.d172f2","type":"ui_button","z":"7168b33e.1ed0bc","name":"","group":"3952ec5b.56f514","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":317,"wires":[["2c516a58.94baa6"]]},{"id":"2c516a58.94baa6","type":"exec","z":"7168b33e.1ed0bc","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":329.49996185302734,"y":316.6944227218628,"wires":[[],[],[]]},{"id":"5bf5618.884dda","type":"ui_chart","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":5,"width":"6","height":"4","label":"CPU Temperature [°C]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":693.9999389648438,"y":72.66667175292969,"wires":[[]]},{"id":"34183360.43f76c","type":"exec","z":"7168b33e.1ed0bc","command":"free | grep Mem | awk '{print $3/$2 * 100.0}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":335.3333053588867,"y":129.9999303817749,"wires":[["9a2adc59.2cbdc"],[],[]]},{"id":"9a2adc59.2cbdc","type":"ui_gauge","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":2,"width":"3","height":"3","gtype":"gage","title":"Memory usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":675,"y":118,"wires":[]},{"id":"27887280.bf3c5e","type":"exec","z":"7168b33e.1ed0bc","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":328.2221488952637,"y":188.22217464447021,"wires":[["d73cadfb.4dfeb"],[],[]]},{"id":"d265761.fc28d88","type":"ui_gauge","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":3,"width":"3","height":"3","gtype":"gage","title":"Disk usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":666.4443550109863,"y":174.88883781433105,"wires":[]},{"id":"d73cadfb.4dfeb","type":"function","z":"7168b33e.1ed0bc","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":475.99991607666016,"y":174.88883209228516,"wires":[["d265761.fc28d88"]]},{"id":"96795099.31152","type":"inject","z":"7168b33e.1ed0bc","name":"","repeat":"60","crontab":"","once":true,"topic":"","payload":"","payloadType":"date","x":128.22214889526367,"y":188.22217464447021,"wires":[["27887280.bf3c5e"]]},{"id":"6d38d459.8cda9c","type":"ui_text","z":"7168b33e.1ed0bc","group":"3952ec5b.56f514","order":2,"width":"6","height":"2","name":"","label":"IP Address","format":"{{value.substring(0, value.indexOf(\" \"))}}","layout":"col-center","x":677,"y":363,"wires":[]},{"id":"31e8f396.202cdc","type":"inject","z":"7168b33e.1ed0bc","name":"","repeat":"10","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":124.24151611328125,"y":375.5670118331909,"wires":[["22e93efd.4f8562"]]},{"id":"22e93efd.4f8562","type":"exec","z":"7168b33e.1ed0bc","command":"hostname","addpay":false,"append":"-I","useSpawn":"","timer":"","name":"Get Local IP","x":328.79706954956055,"y":376.06702518463135,"wires":[["6d38d459.8cda9c"],[],[]]},{"id":"5f4f85b6.3647ac","type":"cpu","z":"7168b33e.1ed0bc","name":"separete cpu's","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":325.3333053588867,"y":429.9999303817749,"wires":[["689bc8dc.8a4308"]]},{"id":"e63896cb.ee9de8","type":"cpu","z":"7168b33e.1ed0bc","name":"overal cpu","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":315.3333053588867,"y":469.9999303817749,"wires":[["84c89b7f.9bace8"]]},{"id":"689bc8dc.8a4308","type":"ui_chart","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":0,"width":"6","height":"4","label":"Seperate CPU's [%]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":705.3333053588867,"y":429.9999303817749,"wires":[[]]},{"id":"84c89b7f.9bace8","type":"ui_gauge","z":"7168b33e.1ed0bc","name":"","group":"65727175.53513","order":0,"width":"3","height":"3","gtype":"gage","title":"CPU usage ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":675.3333053588867,"y":469.9999303817749,"wires":[]},{"id":"7d95ba72.a17754","type":"inject","z":"7168b33e.1ed0bc","name":"","repeat":"3","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":122.33330535888672,"y":449.9999303817749,"wires":[["5f4f85b6.3647ac","e63896cb.ee9de8"]]},{"id":"59491120.ba16d","type":"function","z":"2fbd4576.3fbc1a","name":"startBlink","func":"//var BLINKDELAY = 750;\nclearInterval(global.get(\"blinker\"));\nvar BLINKDELAY = msg.payload;\n\nvar light = true;\n\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":680,"y":260,"wires":[["330ecc33.109c04","b089e6ed.e53448"]]},{"id":"64b980a2.282ff","type":"inject","z":"2fbd4576.3fbc1a","name":"standby","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["c99d2612.75e6c8"]]},{"id":"dae9d356.aa959","type":"function","z":"2fbd4576.3fbc1a","name":"stopBlink","func":"clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":686,"y":332,"wires":[["330ecc33.109c04","b089e6ed.e53448"]]},{"id":"95ddad06.b62db","type":"inject","z":"2fbd4576.3fbc1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":237,"y":333,"wires":[["dae9d356.aa959"]]},{"id":"330ecc33.109c04","type":"debug","z":"2fbd4576.3fbc1a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"green","targetType":"msg","x":930,"y":360,"wires":[]},{"id":"3598430c.0cd00c","type":"debug","z":"2fbd4576.3fbc1a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"red","targetType":"msg","x":900,"y":660,"wires":[]},{"id":"a101ddbb.bda08","type":"comment","z":"2fbd4576.3fbc1a","name":"Green","info":"","x":650,"y":100,"wires":[]},{"id":"d303c3f6.45722","type":"comment","z":"2fbd4576.3fbc1a","name":"Red","info":"","x":650,"y":460,"wires":[]},{"id":"17681b72.b2cc05","type":"function","z":"2fbd4576.3fbc1a","name":"Replay Running","func":"\nmsg.payload = 250;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["59491120.ba16d"]]},{"id":"b089e6ed.e53448","type":"rpi-gpio out","z":"2fbd4576.3fbc1a","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":940,"y":300,"wires":[]},{"id":"7bfc07b8.bf57e8","type":"rpi-gpio out","z":"2fbd4576.3fbc1a","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":900,"y":600,"wires":[]},{"id":"c99d2612.75e6c8","type":"function","z":"2fbd4576.3fbc1a","name":"node-red running","func":"clearInterval(global.get(\"blinker\"));\nmsg.payload = 1000;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["59491120.ba16d"]]},{"id":"5f1527d5.3303f8","type":"file in","z":"5f49ccfb.5051f4","name":"rectangle","filename":"/home/pi/geojsons/rectangle.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":200,"y":580,"wires":[["94b75075.4b592"]]},{"id":"fa4ce1af.2777a","type":"file in","z":"5f49ccfb.5051f4","name":"polygon","filename":"/home/pi/geojsons/polygon.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":200,"y":620,"wires":[["14e37d8a.2bb352"]]},{"id":"f7513cfb.162bd","type":"function","z":"5f49ccfb.5051f4","name":"switch-button function","func":"\nmsg.payload = { command :\n{button :\n    {   name:\"switch-button\",\n        icon: \"fa-exchange\", \n        position:\"bottomright\"\n    }  \n}\n};  \n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":720,"wires":[[]]},{"id":"94b75075.4b592","type":"json","z":"5f49ccfb.5051f4","name":"convert","property":"payload","action":"","pretty":false,"x":340,"y":580,"wires":[["6a7ee1a3.d2aff"]]},{"id":"14e37d8a.2bb352","type":"json","z":"5f49ccfb.5051f4","name":"convert","property":"payload","action":"","pretty":false,"x":340,"y":620,"wires":[["1b502ae6.8d43f5"]]},{"id":"4c65ab7c.6c0594","type":"inject","z":"2fbd4576.3fbc1a","name":"1","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1290,"y":340,"wires":[[]]},{"id":"9533d9f5.658b38","type":"inject","z":"2fbd4576.3fbc1a","name":"0","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1290,"y":300,"wires":[[]]},{"id":"c7d1ffd3.f3f8","type":"link in","z":"2fbd4576.3fbc1a","name":"","links":["6cc41370.7615bc"],"x":335,"y":200,"wires":[["17681b72.b2cc05"]]},{"id":"d32b81a4.02d26","type":"function","z":"2fbd4576.3fbc1a","name":"done replay","func":"\n\nif (msg.payload == 1)\n{\n   \n    msg.payload = 1000;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["59491120.ba16d"]]},{"id":"f685ecd3.d4107","type":"link in","z":"2fbd4576.3fbc1a","name":"","links":["27232520.a9ae8a"],"x":335,"y":140,"wires":[["d32b81a4.02d26"]]},{"id":"7a14e4b4.2d220c","type":"trigger","z":"5f49ccfb.5051f4","name":"Watchdog","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":980,"y":520,"wires":[["27232520.a9ae8a"]]},{"id":"32d0dd8d.051d92","type":"link in","z":"5f49ccfb.5051f4","name":"","links":["b92bf30a.fe478"],"x":875,"y":520,"wires":[["7a14e4b4.2d220c"]]},{"id":"27232520.a9ae8a","type":"link out","z":"5f49ccfb.5051f4","name":"watchdog out","links":["f685ecd3.d4107"],"x":1095,"y":520,"wires":[]},{"id":"f3956e34.7cc25","type":"trigger","z":"2fbd4576.3fbc1a","name":"1 sec on","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"750","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":560,"y":620,"wires":[["7bfc07b8.bf57e8","3598430c.0cd00c"]]},{"id":"f7624494.8ee408","type":"inject","z":"2fbd4576.3fbc1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":260,"y":620,"wires":[["f3956e34.7cc25"]]},{"id":"8f282353.ef291","type":"inject","z":"2fbd4576.3fbc1a","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"0","payloadType":"num","x":750,"y":560,"wires":[["7bfc07b8.bf57e8"]]},{"id":"203968f.92ab998","type":"link in","z":"2fbd4576.3fbc1a","name":"","links":["52a0b80.3bf8148"],"x":415,"y":580,"wires":[["f3956e34.7cc25"]]},{"id":"5b697708.d633e8","type":"inject","z":"5f49ccfb.5051f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":520,"wires":[["5f1527d5.3303f8"]]},{"id":"79566761.8b9468","type":"inject","z":"5f49ccfb.5051f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":700,"wires":[["fa4ce1af.2777a"]]},{"id":"6a7ee1a3.d2aff","type":"function","z":"5f49ccfb.5051f4","name":"usefull data","func":"msg.payload = msg.payload.features;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["3d5015b0.6a71ba"]]},{"id":"1b502ae6.8d43f5","type":"function","z":"5f49ccfb.5051f4","name":"usefull data","func":"msg.payload = msg.payload.features;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[[]]},{"id":"e1d5b3d4.6c72d","type":"ui_ui_control","z":"5f49ccfb.5051f4","name":"","events":"change","x":600,"y":740,"wires":[[]]},{"id":"f8a9d7c3.834028","type":"ui_button","z":"5f49ccfb.5051f4","name":"","group":"3952ec5b.56f514","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":740,"wires":[["e1d5b3d4.6c72d"]]},{"id":"3d5015b0.6a71ba","type":"split","z":"5f49ccfb.5051f4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":580,"wires":[["f26fefe9.37b93","ba054fe3.7c9dd"]]}]